@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');


.fonthead{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight:300
}
.Art{
    font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.Link1{
    padding:1rem;
}
.Link{
    list-style:none;
}
 .data{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

 }
 .poppinshead {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  .poppinslight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  .inputtext{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }
  .menu{
    position:fixed;
     width:50%;
 left:0;
 right:0;
 margin-left:5rem;
 border-radius:10px;
 box-shadow:1px 1px 1px 1px black;
 align-items:right;
 justify-content:right;

  }